@import 'colors.scss';

.btn-class{
    background-image: linear-gradient(to right, $primary-color,$secondary-color);

    font-size: 16px;
    font-weight: 400;
    color: $white-color;
    box-shadow: 17px 11px 17px 4px rgba(0, 0, 0, 0.219);
    
    padding: 10px 30px;
    
    border-radius: 10px;
    border: none;

    cursor: pointer;
}