$white-color: #ffff;

$primary-color: #680afe;
$secondary-color:#ff005a;

//Scale gray
$gray-1: #545454;
$gray-2: #727272;
$gray-3: #919191;
$gray-4: #AFAFAF;
$gray-5: #CDCDCD;
$gray-6: #EBEBEB;
$gray-7: #EEEEEE;
$gray-8: #F1F1F1;